<div class="modal fade" id="{{mdId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="{{mdBackdrop}}">
  <div class="modal-dialog {{mdLg == 'true' ? 'modal-lg' : ''}}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">{{mdTitulo}}</h4>
      </div>
      <div class="modal-body">
      		<div ng-transclude></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-show="{{mdShowFooter}}" ng-click="mdBtnSaveFunction()">{{mdBtnCancelText || 'Cancelar'}}</button>
        <button type="button" class="btn btn-primary" ng-show="{{mdShowFooter}}" ng-click="mdBtnSaveFunction()">{{mdBtnSaveText || 'Salvar'}}</button>
      </div>
    </div>
  </div>
</div>